
.Board {
    height: 426px;
    width: 356px;
    /* background-color: green; */
    margin: 0 auto;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
}

.Tile{
    border: 3px solid gray;
    width: 60px;
    height: 60px;
    margin: 2.5px;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Correct{
    background-color: green;
    color: white;
    border-color: white
}

.Present{
    background-color: yellow;
    color: white;
    border-color: white;
}

.Absent{
    background-color: gray;
    color: white;
    background-color: white;
}